spring:
  profiles:
    active: dev  # Default profile
  mail:
    host: smtp.gmail.com
    port: 587
    username: mabsplace2024@gmail.com
    password: hofq zhhw anvf bzro
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 497027706625-6l43ei9kjs5dc5hrskn94uqq2qcc5roo.apps.googleusercontent.com
            clientSecret: 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
            redirectUri: "{baseUrl}/login/oauth2/code/google"
            scope:
              - email
              - profile
          facebook:
            clientId: 121189305185277
            clientSecret: 42ffe5aa7379e8326387e0fe16f34132
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - public_profile
          github:
            clientId: d3e47fc2ddd966fa4352
            clientSecret: 3bc0f6b8332f93076354c2a5bada2f5a05aea60d
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - user:email
              - read:user
        provider:
          facebook:
            authorizationUri: https://www.facebook.com/v3.0/dialog/oauth
            tokenUri: https://graph.facebook.com/v3.0/oauth/access_token
            userInfoUri: https://graph.facebook.com/v3.0/me?fields=id,first_name,middle_name,last_name,name,email,verified,is_verified,picture.width(250).height(250)

mabsplace:
  app:
    jwtCookieName: mabsplace
    jwtSecret: ======================mabsplace=Spring===========================
    jwtExpirationMs: 86400000
    baseUrl: https://my-coolpay.com/api/1ab431cc-4586-4521-9e02-a53b24f1ecdb/
    privateKey: QYVLTmSoDoOsAIi4NZkah6QZXi9PUJkXi0pMc6QeLyRd0rnokyB5p1XhZs8talt8
  openapi:
    dev-url: http://localhost:8080
    prod-url: https://back.mabsplace.com
  google:
    clientId: 497027706625-6l43ei9kjs5dc5hrskn94uqq2qcc5roo.apps.googleusercontent.com
    clientSecret: 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

app:
  auth:
    tokenSecret: 04ca023b39512e46d0c2cf4b48d5aac61d34302994c87ed4eff225dcf3b0a218739f3897051a057f9b846a69ea2927a587044164b7bae5e1306219d50b588cb1
    tokenExpirationMsec: 864000000

discord:
  webhook:
    payment-reminders: https://discord.com/api/webhooks/1424714395564642364/2YgOrgi4ZXabfoYRqH_hZUgKl2I-21th_o56ug7-JKxKtgoSCRGK-oV2tgyH4Qf45rNm

