spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:3306/mabsplace
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update


  #  liquibase:
  #    change-log: classpath:db/changelog/db.changelog-master.yaml


  mail:
    host: smtp.gmail.com
    port: 587
    username: mabsplace2024@gmail.com
    password: hofq zhhw anvf bzro
    properties:
      mail:
        smtp:
          auth: true
  #          starttls:
  #            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 497027706625-6l43ei9kjs5dc5hrskn94uqq2qcc5roo.apps.googleusercontent.com
            clientSecret: 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
            redirectUri: "{baseUrl}/login/oauth2/code/google"
            scope:
              - email
              - profile
          facebook:
            clientId: 121189305185277
            clientSecret: 42ffe5aa7379e8326387e0fe16f34132
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - public_profile
          github:
            clientId: d3e47fc2ddd966fa4352
            clientSecret: 3bc0f6b8332f93076354c2a5bada2f5a05aea60d
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - user:email
              - read:user
        provider:
          facebook:
            authorizationUri: https://www.facebook.com/v3.0/dialog/oauth
            tokenUri: https://graph.facebook.com/v3.0/oauth/access_token
            userInfoUri: https://graph.facebook.com/v3.0/me?fields=id,first_name,middle_name,last_name,name,email,verified,is_verified,picture.width(250).height(250)

mabsplace:
  app:
    jwtCookieName: mabsplace
    jwtSecret: ======================mabsplace=Spring===========================
    jwtExpirationMs: 86400000
    baseUrl: https://my-coolpay.com/api/1ab431cc-4586-4521-9e02-a53b24f1ecdb/
    privateKey: QYVLTmSoDoOsAIi4NZkah6QZXi9PUJkXi0pMc6QeLyRd0rnokyB5p1XhZs8talt8
  openapi:
    dev-url: http://localhost:8080
    prod-url: https://back.mabsplace.com
  google:
    clientId: 497027706625-6l43ei9kjs5dc5hrskn94uqq2qcc5roo.apps.googleusercontent.com
    clientSecret: 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

app:
  auth:
    tokenSecret: 04ca023b39512e46d0c2cf4b48d5aac61d34302994c87ed4eff225dcf3b0a218739f3897051a057f9b846a69ea2927a587044164b7bae5e1306219d50b588cb1
    tokenExpirationMsec: 864000000
  cors:
    allowedOrigins: http://localhost:3000,http://localhost:8080
  oauth2:
    # After successfully authenticating with the OAuth2 Provider,
    # we'll be generating an auth token for the user and sending the token to the
    # redirectUri mentioned by the client in the /oauth2/authorize request.
    # We're not using cookies because they won't work well in mobile clients.
    authorizedRedirectUris:
      - http://localhost:3000/oauth2/redirect
      - myandroidapp://oauth2/redirect
      - myiosapp://oauth2/redirect

minio:
  url: http://minio:9000
  access-key: minio
  secret-key: minio123
  bucket-name: mabsplace

