name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '21'

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            # Replace the following with your deployment commands
            echo "Copying JAR to VPS..."
            scp -P ${{ secrets.VPS_SSH_PORT }} target/mabsplace-back-0.0.1.jar ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_HOST }}:/root/mabsplace/backend
            echo "Deploying to VPS..."
            cd /root/mabsplace/backend
            docker compose down
            docker compose up -d --build
